<h3>Criar novo método de pagamento</h3>

<%= form_with(model: @payment_method) do |f| %>
  <div>
    <%= f.label :name%>
    <%= f.text_field :name %> 

    <% @payment_method.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label :fee %>
    <%= f.number_field :fee %>

    <% @payment_method.errors.full_messages_for(:fee).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label :maximum_fee %>
    <%= f.number_field :maximum_fee %>
    
    <% @payment_method.errors.full_messages_for(:maximum_fee).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label :icon %>
    <%= f.file_field :icon %>

    <% @payment_method.errors.full_messages_for(:icon).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <%= f.submit t('common.submit') %>
<% end %>