<h2 class="text-gray-800 font-medium ml-5 my-5 text-justify"><%= t('.register_new_message') %></h2>
<div class="max-w-lg ml-5 my-5 rounded-lg shadow-md p-4 bg-white border">
<%= form_with(model: @credit_card_setting) do |f| %>
  <div class="mb-4">
    <%= f.label :company_code, class: "form-label" %>
    <%= f.text_field :company_code, class: "form-text-field" %> 

    <% @credit_card_setting.errors.full_messages_for(:company_code).each do |message| %>
      <div class="mt-1 text-red-600"><%= message %></div>
    <% end %>
  </div>
  <% if @payment_methods_dropdown.present? %>
  <div class="flex items-start lg:items-base">
    <%= f.label :payment_method_id, class: "form-label mr-4" %>
    <%= f.select :payment_method_id, @payment_methods_dropdown, class: "bg-purple-800" %>
    <% @credit_card_setting.errors.full_messages_for(:payment_method_id).each do |message| %>
      <div class="mt-1 text-red-600"><%= message %></div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Criar configuração de pagamento", class: "form-submit-button my-5" %>
  </div>
  <% elsif %>
    <p class="mt-1 text-red-600">Meio de pagamento não disponivel</p>
  <% end %>
<% end %>
</div>
