<nav class="bg-white border-b-2 border-purple-900">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between space-x-4 h-24 lg:h-16">
      <% if current_admin %>
        <div class="flex flex-wrap items-center space-x-2">
          <p class="text-pink-900 font-medium">Métodos de pagamento > </p>
          <%= link_to 'Criar novo', new_admin_payment_method_path, class: "bg-white hover:text-red-900 text-pink-900 font-medium py-1 px-4 border border-pink-900 rounded focus:outline-none" %>
          <%= link_to 'Listar todos', admin_payment_methods_path, class: "bg-white hover:text-red-900 text-pink-900 font-medium py-1 px-4 border border-pink-900 rounded focus:outline-none" %>
        <div class="text-pink-900 font-medium">Empresas > </div>
          <%= link_to 'Gerenciar Empresas', companies_path, class: "bg-white hover:text-red-900 text-pink-900 font-medium py-1 px-4 border border-pink-900 rounded focus:outline-none" %>
        <div class="text-pink-900 font-medium">Fraudes > </div>
          <%= link_to 'Fraudes Constatadas', frauds_path, class: "bg-white hover:text-red-900 text-pink-900 font-medium py-1 px-4 border border-pink-900 rounded focus:outline-none" %>
          <%= link_to 'Avaliar Fraudes', purchases_path, class: "bg-white hover:text-red-900 text-pink-900 font-medium py-1 px-4 border border-pink-900 rounded focus:outline-none" %>
      <% end %>    
  </div>
</nav>