<h3>Método de pagamento criado com sucesso!</h3>

<div>
<% if @payment_method.icon.attached? %>
  <%= image_tag @payment_method.icon, alt: "icon" %>
<% end %>
</div>
<% if admin_signed_in? %>
  <p>Nome: <%= @payment_method.name %></p>
  <p>Taxa (%): <%= @payment_method.fee %></p>
  <p>Taxa máxima (R$): <%= @payment_method.maximum_fee %></p>
  <p>Status: <%= t @payment_method.status %></p>
<% end %>

<% if @payment_method.enabled? %>
  <%= link_to 'Desabilitar método de pagamento', disable_admin_payment_method_path(@payment_method.id), method: :post %>
<% elsif %>
<%= link_to 'Habilitar método de pagamento', enable_admin_payment_method_path(@payment_method.id), method: :post %>
<% end %>