<div>
    <span><%= t('.new_payment_setting') %></span>
    <% @enabled_payment_methods.each do |payment_method| %>
        <span><%= link_to payment_method.name, root_path %></span>
    <% end %>
</div>

<div>
  <% @payment_settings.each do |ps| %>
    <% if ps.type == 'PixSetting' %>
      <div>
        <p>Chave pix: <%= ps.pix_key %></p>
        <p>Código do banco: <%= ps.bank_code %></p>
      </div>
    <% elsif ps.type == 'CreditCardSetting' %>
      <div>
        <p>Código: <%= ps.company_code %></p>
      </div>
    <% elsif ps.type == 'BoletoSetting' %>
      <div>
        <p>Código do banco: <%= ps.bank_code %></p>
        <p>Número da agência: <%= ps.agency_number %></p>
        <p>Número da conta: <%= ps.account_number %></p>
      </div>
    <% end %>
  <% end %>
</div>
