<div>
    <span>status:<%= @company.status %></span>
</div>
<div>
    <span>nome: <%= @company.legal_name %></span>
    <span>cnpj: <%= @company.cnpj %></span>
    <span>email de faturamento: <%= @company.billing_email %></span>
    <span>endereço de faturamento: <%= @company.billing_address %></span>
</div>