<div>
    <span><%= Company.human_attribute_name('status') %>: <%= Company.human_attribute_name("status.#{@company.status}") %></span>
</div>

<% if @company.accepted? %>
    <%= link_to t('.configure_payment'), company_payment_settings_path(@company) %>
<% end %>

<div>
    <dl>
        <dt><%= Company.human_attribute_name('legal_name') %>: </dt>
        <dd> <%= @company.legal_name %></dd>
        <dt><%= Company.human_attribute_name('cnpj') %>: </dt>
        <dd> <%= @company.cnpj %></dd>
        <dt><%= Company.human_attribute_name('billing_email') %>: </dt>
        <dd> <%= @company.billing_email %></dd>
        <dt><%= Company.human_attribute_name('billing_address') %>: </dt>
        <dd> <%= @company.billing_address %></dd>
    </dl>
</div>