<h2><%= @subscription.name %></h2>
<div>
    <dl>
        <dt><%= Subscription.human_attribute_name('token') %>: </dt>
        <dd> <%= @subscription.token %></dd>
        <dt><%= Subscription.human_attribute_name('name') %>: </dt>
        <dd> <%= @subscription.name %></dd>
        <dt><%= Subscription.human_attribute_name('status') %>: </dt>
        <dd><%= Subscription.human_attribute_name("status.#{@subscription.status}") %></dd>
    </dl>
</div>

<% if @subscription.enabled? %>
  <%= link_to t('common.disable'), disable_subscription_path, method: :post%>   
<% else %>
  <%= link_to t('common.enable'), enable_subscription_path, method: :post%>
<% end %>