<h3 class="block text-gray-700 text-lg font-bold ml-5 my-2">Criar novo método de pagamento</h3>
<div class="max-w-xs m-5 text-center rounded-lg shadow-md p-4 bg-white border">
  <%= form_with(model: @product) do |f| %>
    <div class="form-m-w-content">
      <div class="mb-4">
        <%= f.label :name, class: "form-label"%>
        <%= f.text_field :name, class: "form-text-field" %> 
        <% @product.errors.full_messages_for(:name).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    
       <%= f.submit 'Salvar', class: "form-submit-button" %>
    </div>
  <% end %>
</div>